<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Genres
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a asp-controller="Genres" asp-action="Index" class="dropdown-item">Index</a></li>
        <li><a asp-controller="Genres" asp-action="Create" class="dropdown-item">Create</a></li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Rooms
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a asp-controller="Rooms" asp-action="Index" class="dropdown-item">Index</a></li>
        <li><a asp-controller="Rooms" asp-action="Create" class="dropdown-item">Create</a></li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Movies
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a asp-controller="Movies" asp-action="Index" class="dropdown-item">Index</a></li>
        <li><a asp-controller="Movies" asp-action="Create" class="dropdown-item">Create</a></li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Screenings
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a asp-controller="Screenings" asp-action="Index" class="dropdown-item">Index</a></li>
        <li><a asp-controller="Screenings" asp-action="Create" class="dropdown-item">Create</a></li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Users
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a href="#" class="dropdown-item">Index</a></li>
        <li><a href="#" class="dropdown-item">Create</a></li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link" asp-controller="Reservations" asp-action="Index">Reservations</a>
</li>